<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.luowowo.article.mapper.TravelContentMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.luowowo.article.domain.TravelContent" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.wolfcode.luowowo.article.domain.TravelContent">
    insert into travel_content ( id,content)
    values (#{id},#{content,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, content
    from travel_content
  </select>
  <select id="selectById" resultType="cn.wolfcode.luowowo.article.domain.TravelContent">
    SELECT  content
    FROM travel_content
    WHERE id=#{id}
  </select>
</mapper>