<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.luowowo.article.mapper.TravelMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.luowowo.article.domain.Travel">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="coverUrl" property="coverUrl" jdbcType="VARCHAR"/>
        <result column="travelTime" property="travelTime" jdbcType="TIMESTAMP"/>
        <result column="perExpends" property="perExpends" jdbcType="INTEGER"/>
        <result column="days" property="days" jdbcType="INTEGER"/>
        <result column="person" property="person" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="releaseTime" property="releaseTime" jdbcType="TIMESTAMP"/>
        <result column="lastUpdateTime" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="isPublic" property="isPublic" jdbcType="BIT"/>
        <result column="viewnum" property="viewnum" jdbcType="INTEGER"/>
        <result column="replynum" property="replynum" jdbcType="INTEGER"/>
        <result column="favornum" property="favornum" jdbcType="INTEGER"/>
        <result column="sharenum" property="sharenum" jdbcType="INTEGER"/>
        <result column="thumbsupnum" property="thumbsupnum" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <association property="author" javaType="cn.wolfcode.luowowo.member.domain.UserInfo" columnPrefix="u_">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
            <result column="headImgUrl" property="headImgUrl"/>
        </association>
        <association property="dest" javaType="cn.wolfcode.luowowo.article.domain.Destination" columnPrefix="d_">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="coverUrl" property="coverUrl"/>
        </association>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM travel
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cn.wolfcode.luowowo.article.domain.Travel" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO travel (dest_id, author_id, title,
                            summary, coverUrl, travelTime,
                            perExpends, days, person,
                            createTime, releaseTime, lastUpdateTime,
                            isPublic, viewnum, replynum,
                            favornum, sharenum, thumbsupnum,
                            state)
        VALUES (#{dest.id,jdbcType=BIGINT}, #{author.id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR},
                                            #{summary,jdbcType=VARCHAR}, #{coverUrl,jdbcType=VARCHAR},
                                            #{travelTime,jdbcType=TIMESTAMP},
                                            #{perExpends,jdbcType=INTEGER}, #{days,jdbcType=INTEGER},
                                            #{person,jdbcType=INTEGER},
                                            #{createTime,jdbcType=TIMESTAMP}, #{releaseTime,jdbcType=TIMESTAMP},
                #{lastUpdateTime,jdbcType=TIMESTAMP},
                #{isPublic,jdbcType=BIT}, #{viewnum,jdbcType=INTEGER}, #{replynum,jdbcType=INTEGER},
                #{favornum,jdbcType=INTEGER}, #{sharenum,jdbcType=INTEGER}, #{thumbsupnum,jdbcType=INTEGER},
                #{state,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.wolfcode.luowowo.article.domain.Travel">
        UPDATE travel
        SET dest_id        = #{dest.id,jdbcType=BIGINT},
            author_id      = #{author.id,jdbcType=BIGINT},
            title          = #{title,jdbcType=VARCHAR},
            summary        = #{summary,jdbcType=VARCHAR},
            coverUrl       = #{coverUrl,jdbcType=VARCHAR},
            travelTime     = #{travelTime,jdbcType=TIMESTAMP},
            perExpends     = #{perExpends,jdbcType=INTEGER},
            days           = #{days,jdbcType=INTEGER},
            person         = #{person,jdbcType=INTEGER},
            createTime     = #{createTime,jdbcType=TIMESTAMP},
            releaseTime    = #{releaseTime,jdbcType=TIMESTAMP},
            lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
            isPublic       = #{isPublic,jdbcType=BIT},
            viewnum        = #{viewnum,jdbcType=INTEGER},
            replynum       = #{replynum,jdbcType=INTEGER},
            favornum       = #{favornum,jdbcType=INTEGER},
            sharenum       = #{sharenum,jdbcType=INTEGER},
            thumbsupnum    = #{thumbsupnum,jdbcType=INTEGER},
            state          = #{state,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateState">
        UPDATE travel SET state=#{state} where id=#{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            t.id,
            t.dest_id,
            t.author_id,
            t.title,
            t.summary,
            t.coverUrl,
            t.travelTime,
            t.perExpends,
            t.days,
            t.person,
            t.createTime,
            t.releaseTime,
            t.lastUpdateTime,
            t.isPublic,
            t.viewnum,
            t.replynum,
            t.favornum,
            t.sharenum,
            t.thumbsupnum,
            t.state,
            u.id u_id,
            u.headImgUrl u_headImgUrl,
            u.nickname u_nickname,
            d.id d_id,
            d.name d_name,
            d.coverUrl d_coverUrl
        FROM travel t
            LEFT JOIN userinfo u ON t.author_id=u.id
            LEFT JOIN destination d ON d.id=t.dest_id

        WHERE t.id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
            t.id,
            t.dest_id,
            t.author_id,
            t.title,
            t.summary,
            t.coverUrl,
            t.travelTime,
            t.perExpends,
            t.days,
            t.person,
            t.createTime,
            t.releaseTime,
            t.lastUpdateTime,
            t.isPublic,
            t.viewnum,
            t.replynum,
            t.favornum,
            t.sharenum,
            t.thumbsupnum,
            t.state,
            u.id u_id,
            u.nickname u_nickname,
            u.headImgUrl u_headImgUrl,
            d.id d_id,
            d.name d_name
        from travel t
            LEFT JOIN userinfo u ON t.author_id=u.id
            LEFT JOIN destination d ON d.id=t.dest_id
    </select>
    <select id="queryForList" resultMap="BaseResultMap">
        select
        t.id,
        t.dest_id,
        t.author_id,
        t.title,
        t.summary,
        t.coverUrl,
        t.travelTime,
        t.perExpends,
        t.days,
        t.person,
        t.createTime,
        t.releaseTime,
        t.lastUpdateTime,
        t.isPublic,
        t.viewnum,
        t.replynum,
        t.favornum,
        t.sharenum,
        t.thumbsupnum,
        t.state,
        u.id u_id,
        u.nickname u_nickname,
        u.headImgUrl u_headImgUrl,
        d.id d_id,
        d.name d_name
        from travel t
        LEFT JOIN userinfo u ON t.author_id=u.id
        LEFT JOIN destination d ON d.id=t.dest_id
        <where>
            <if test="dayType!=-1">
                AND (t.days >=#{days.min} and t.days &lt;=#{days.max})
            </if>
            <if test="perExpendType!=-1">
                and (t.perExpends >=#{perExpend.min} and t.perExpends &lt;=#{perExpend.max} )
            </if>
            <if test="travelTimeType!=-1">
                and (month(t.travelTime) >=#{travelTime.min} and month(t.travelTime) &lt;=#{travelTime.max})
            </if>
            <if test="destId!=-1">
                and t.dest_id=#{destId}
            </if>
            <if test="state!=-1">
                and t.state=#{state}
            </if>
            <if test="isPublic==1">
                and t.isPublic=1
            </if>
        </where>
    </select>
    <select id="queryTravelByDestIdTop3" resultType="cn.wolfcode.luowowo.article.domain.Travel">
        SELECT id ,title,coverUrl,viewnum FROM travel WHERE dest_id=#{destId} order by viewnum limit 3
    </select>
</mapper>